@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color-scheme: light dark;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-color-scheme: light) {
  .home__container {
    .link:hover {
      background-color: #fff8;
    }
    div {
      border: 1px solid rgba(201, 201, 201, 0.6);
    }
  }
}

@media (prefers-color-scheme: light) {
  .link:hover {
    background-color: #fff8;
  }
  .explore__container {
    border: 1px solid rgba(201, 201, 201, 0.6);
  }
}

@media (prefers-color-scheme: light) {
  .dog-breed__container {
    color: #fff;
  }
  .title {
    color: #000;
    
  }
  h2 {
    color: #fff;
  }
}
